@import '../../../../styles.less';

.currency-picker-field {
    width: 100%;
    .mat-form-field-outline {
        border-color: @color-crayola;
    }
    .mat-form-field-label {
        color: @color-crayola;
    }
}

.flag {
    margin-right: 0.5em;
    font-size: 1.2em;
}

.code {
    font-weight: bold;
    color: @color-dark-green;
    margin-right: 0.5em;
}

.name {
    color: @color-raisin-black;
    opacity: 0.8;
}
