@import '../styles.less';

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &.full-width {
        height: 100vh;
    }
}

.app-content {
    flex: 1;
    display: flex;
    flex-direction: row;

    &.full-width {
        flex-direction: column-reverse;
        overflow: hidden;
    }

    @media screen and (max-width: 767px) {
        height: 100vh;
        flex-direction: column;
    }
}

.app-content-side {
    flex: 0 0 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 767px) {
        flex: 0 0 auto;
    }
}

.app-content-main {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    @media screen and (max-width: 767px) {
        max-height: 100vh;
        overflow: auto;
    }
}

footer {
    background-color: @color-raisin-black;
    padding: 1rem 0;
    height: 2.5rem;

    @media screen and (max-width: 767px) {
        display: none;
    }

    .footer-content {
        @media screen and (min-width: 768px) {
            padding: 0 30%;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        color: @color-antique-white;
        font-family: 'PT Sans', sans-serif;
        font-size: 0.9rem;

        button {
            color: @color-antique-white;
        }

        .footer-right {
            display: flex;
            gap: 0.5rem;
        }
    }
}
