<div class="app-container" [class.full-width]="router.url === '/home'">
    <app-top-bar></app-top-bar>
    <div class="app-content" [class.full-width]="router.url === '/home'">
        <router-outlet></router-outlet>
        <app-notification></app-notification>
    </div>
    <footer>
        <div class="footer-content">
            <div class="footer-left">© 2024 crappital ltd. All rights somewhat reserved.</div>
            <div class="footer-center">Call us (don't)! +44 7700 900123</div>
            <div class="footer-right">
                <button mat-icon-button>
                    <mat-icon>facebook</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>alternate_email</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>camera_alt</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>smart_display</mat-icon>
                </button>
            </div>
        </div>
    </footer>
</div>
